language: python
sudo: false
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
before_install:
  - sudo add-apt-repository universe
  - ./scripts/setup-389-ds.sh
install:
  - pip install tox-travis
script:
  - tox
